    <div class="col-xs-3">
    <h2>User info</h2>
    
    <%= attachment_image_tag(user,:profile_image, :fill, 100,100, fallback:"no_image.jpg") %>
      <tr>
    	  <th>name</th>
        <td><%= user.name%></td>
      </tr>
    	  <th>introduction</th>
        <td><%= user.introduction%></td>
      </tr>
</table>
<div class="row">
  <%= link_to " ", edit_user_path(user), class: 'col-xs-12 btn btn-default glyphicon glyphicon-wrench'%>
</div>

    <h2>New book</h2>
    <%= form_for(book) do |f| %>

    <div class ="row field"><%= f.label "title" %>
    <%= f.text_field :title ,class: 'col-xs-12'%></div>
    <div class ="row field"><%= f.label "Opinion" %>
    <%= f.text_area :body ,class: 'col-xs-12'%></div>
    <div class = "row action"><%= f.submit "Create Book", class: 'btn btn-primary col-xs-12'%></div>

    
    <% end%>

  </div>
